.add1{
    color: black;
    background-color: rgb(195, 253, 255);
    text-align: center ;
    margin: 10px;
    padding: 7px;
    border-radius: 15px;
}
.substract1{
    color: black;
    background-color: rgb(195, 253, 255);
    text-align: center ;
    margin: 10px;
    padding: 7px;
    border-radius: 15px;
}
.multiply1{
    color: black;
    background-color: rgb(195, 253, 255);
    text-align: center ;
    margin: 10px;
    padding: 7px;
    border-radius: 15px;
}
.devide1{
    color: black;
    background-color: rgb(195, 253, 255);
    text-align: center ;
    margin: 10px;
    padding: 7px;
    border-radius: 15px;
}
.add2{
    color: black;
    background-color: rgb(120, 208, 211);
    text-align: center ;
    margin: 10px 15px 10px 15px;
    padding: 7px;
    border-radius: 15px;
    left: 15px;
}
.substract2{
    color: black;
    background-color: rgb(120, 208, 211);
    text-align: center ;
    margin: 10px;
    padding: 7px;
    border-radius: 15px;
}
.multiply2{
    color: black;
    background-color: rgb(120, 208, 211);
    text-align: center ;
    margin: 10px;
    padding: 7px;
    border-radius: 15px;
}
.devide2{
    color: black;
    background-color: rgb(120, 208, 211);
    text-align: center ;
    margin: 10px 25px 10px 25px;
    padding: 7px;
    border-radius: 15px;
}
.add3{
    color: black;
    background-color: rgb(7, 122, 126);
    text-align: center ;
    margin: 10px;
    padding: 7px;
    border-radius: 15px;
}
.substract3{
    color: black;
    background-color: rgb(7, 122, 126);
    text-align: center ;
    margin: 10px;
    padding: 7px;
    border-radius: 15px;
}
.multiply3{
    color: black;
    background-color: rgb(7, 122, 126);
    text-align: center ;
    margin: 10px;
    padding: 7px;
    border-radius: 15px;
}
.devide3{
    color: black;
    background-color: rgb(7, 122, 126);
    text-align: center ;
    margin: 10px;
    padding: 7px;
    border-radius: 15px;
}
