@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, rgb(255, 152, 104), #ffe677);
    align-items: center;
    font-family: Balsamiq Sans, sans-serif;
    width: 100%;
}
header{
    background-color: rgb(158, 90, 0);
    padding: 20px;
}
h1{
    color: black;
    text-align: center;
    font-family: Balsamiq Sans, sans-serif;
}
/* img{
    width: 200px;
    display: inline-block;
    text-align: center;
    position: relative;
    vertical-align: top;
    float: left;
} */
.score{
    text-align: center;
    padding: 35px;
    font-size: 40px;
}
.badge{
    font-size: 15px;
}
.result{
    text-align: center;
}
#action_message{
    height: 60px;
    text-align: center;
}
.choise{
    display: inline-block;
    padding: 10px;
    width: 200px;
    height: 200px;
}
.choises{
    margin: 50px 0;
    text-align: center;
}
.choise:hover{
    cursor: pointer;
}
.choise_element{
    width: 150px;
    height: 150px;
    transition: all .3s;
}
.choise_element:hover{
    width: 175px;
    height: 175px;
}